# "$schema" = "https://yazi-rs.github.io/schemas/yazi.json"
#
# [mgr]
# ratio = [1, 4, 3]
# sort_by = "natural"
# sort_dir_first = true
# show_hidden = true
#
# [opener]
# folder = [
#   { run = 'hyprctl dispatch exec "[float; size 60% 60%; center 1] nemo" "$1"', orphan = true, desc = "nemo", for = "linux" },
#   { run = '''fish -c "nvim "$1""''', block = true, desc = "neovim", for = "linux" },
#   { run = 'kitty --detach nvim "$@"', orphan = true, desc = "neovim (detached)", for = "linux" },
#   { run = '''fish -c "lazygit -p "$1""''', block = true, desc = "lazygit", for = "linux" },
#   { run = 'codium  "$@"', orphan = true, desc = "vscodium", for = "linux" },
#   { run = 'kitty "$@"', orphan = true, desc = "kitty", for = "linux" },
#   { run = 'xdg-open "$@"', orphan = true, desc = "xdg-open", for = "linux" },
# ]
#
# text = [
#   { run = '$EDITOR "$@"', block = true, desc = "$EDITOR", for = "linux" },
#   { run = 'nvim "$@"', block = true, desc = "neovim", for = "linux" },
#   { run = 'kitty --detach nvim "$@"', block = true, desc = "neovim (detached)", for = "linux" },
#   { run = 'codium  "$@"', orphan = true, desc = "vscodium", for = "linux" },
#   { run = 'xdg-open "$@"', orphan = true, desc = "xdg-open", for = "linux" },
# ]
#
# document = [
#   { run = 'xdg-open "$@"', orphan = true, desc = "xdg-open", for = "linux" },
#   { run = 'zathura "$@"', orphan = true, desc = "zathura", for = "linux" },
#   { run = 'libreoffice "$@"', orphan = true, desc = "libreoffice", for = "linux" },
# ]
#
# image = [
#   { run = 'xdg-open "$@"', orphan = true, desc = "xdg-open", for = "linux" },
#   { run = 'qimgv "$@"', orphan = true, desc = "qimgv", for = "linux" },
#   { run = 'krita "$@"', orphan = true, desc = "krita", for = "linux" },
#   { run = 'satty --filename "$@"', orphan = true, desc = "satty", for = "linux" },
# ]
#
# video = [
#   { run = 'xdg-open "$@"', orphan = true, desc = "xdg-open", for = "linux" },
#   { run = 'mpv "$@"', orphan = true, desc = "mpv", for = "linux" },
#   { run = 'vlc "$@"', orphan = true, desc = "vlc", for = "linux" },
# ]
#
# audio = [
#   { run = 'xdg-open "$@"', orphan = true, desc = "xdg-open", for = "linux" },
#   { run = 'mpv "$@"', orphan = true, desc = "mpv", for = "linux" },
#   { run = 'vlc "$@"', orphan = true, desc = "vlc", for = "linux" },
# ]
#
# fallback = [
#   { run = 'xdg-open "$@"', orphan = true, desc = "xdg-open", for = "linux" },
# ]
#
# [open]
# rules = [
#   { name = "*/", use = "folder" },
#
#   { mime = "text/*", use = "text" },
#   { mime = "image/*", use = "image" },
#   { mime = "video/*", use = "video" },
#   { mime = "application/octet-stream", use = "video" },
#   { mime = "audio/*", use = "audio" },
#   { mime = "inode/x-empty", use = "text" },
#   { mime = "application/json", use = "text" },
#
#   { mime = "application/zip", use = "archive" },
#   { mime = "application/gzip", use = "archive" },
#   { mime = "application/x-bzip", use = "archive" },
#   { mime = "application/x-bzip2", use = "archive" },
#   { mime = "application/x-tar", use = "archive" },
#   { mime = "application/x-7z-compressed", use = "archive" },
#   { mime = "application/x-rar", use = "archive" },
#   { mime = "application/pdf", use = "document" },
#   { mime = "application/epub+zip", use = "document" },
#   { mime = "application/x-mobipocket-ebook", use = "document" },
#
#   { mime = "*", use = "fallback" },
# ]
#
# [[plugin.prepend_fetchers]]
# id = "git"
# name = "*"
# run = "git"
#
# [[plugin.prepend_fetchers]]
# id = "git"
# name = "*/"
# run = "git"

# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio          = [ 1, 4, 3 ]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse 	 = false
sort_dir_first = true
sort_translit  = false
linemode       = "none"
show_hidden    = false
show_symlink   = true
scrolloff      = 5
mouse_events   = [ "click", "scroll" ]
title_format   = "Yazi: {cwd}"

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 600
max_height      = 900
cache_dir       = ""
image_delay     = 30
image_filter    = "triangle"
image_quality   = 75
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]

[opener]
edit = [
	{ run = 'emacs "$@"', orphan = true, desc = "emacs", for = "unix" },
	{ run = '${EDITOR:-vi} "$@"', desc = "$EDITOR", block = true, for = "unix" },
	{ run = 'code %*',    orphan = true, desc = "code",           for = "windows" },
	{ run = 'code -w %*', block = true,  desc = "code (block)",   for = "windows" },
]
open = [
	{ run = 'xdg-open "$1"',                desc = "Open", for = "linux" },
	{ run = 'open "$@"',                    desc = "Open", for = "macos" },
	{ run = 'start "" "%1"', orphan = true, desc = "Open", for = "windows" },
	{ run = 'termux-open "$1"',             desc = "Open", for = "android" },
]
reveal = [
	{ run = 'xdg-open "$(dirname "$1")"',           desc = "Reveal", for = "linux" },
	{ run = 'open -R "$1"',                         desc = "Reveal", for = "macos" },
	{ run = 'explorer /select,"%1"', orphan = true, desc = "Reveal", for = "windows" },
	{ run = 'termux-open "$(dirname "$1")"',        desc = "Reveal", for = "android" },
	{ run = '''clear; exiftool "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show EXIF", for = "unix" },
]
extract = [
	{ run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
	{ run = 'ya pub extract --list %*',   desc = "Extract here", for = "windows" },
]
play = [
	{ run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
	{ run = 'mpv --force-window %*', orphan = true, for = "windows" },
	{ run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]
image = [
	{ run = 'feh "$@"', orphan = true, desc = "feh", for = "unix" },
]

[open]
rules = [
	# Folder
	{ name = "*/", use = [ "edit", "open", "reveal" ] },
	# Text
	{ mime = "text/*", use = [ "edit", "reveal" ] },
	# Image
	{ mime = "image/*", use = [ "image", "reveal" ] },
	# Media
	{ mime = "{audio,video}/*", use = [ "play", "reveal" ] },
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "reveal" ] },
	# JSON
	{ mime = "application/{json,ndjson}", use = [ "edit", "reveal" ] },
	{ mime = "*/javascript", use = [ "edit", "reveal" ] },
	# Empty file
	{ mime = "inode/empty", use = [ "edit", "reveal" ] },
	# Fallback
	{ name = "*", use = [ "open", "reveal" ] },
]

[tasks]
micro_workers    = 10
macro_workers    = 10
bizarre_retry    = 3
image_alloc      = 536870912  # 512MB
image_bound      = [ 10000, 10000 ]
suppress_preload = false

[plugin]
fetchers = [
	# Mimetype
	{ id = "mime", name = "*", run = "mime", prio = "high" },
]
spotters = [
	{ name = "*/", run = "folder" },
	# Code
	{ mime = "text/*", run = "code" },
	{ mime = "application/{mbox,javascript,wine-extension-ini}", run = "code" },
	# Image
	{ mime = "image/{avif,hei?,jxl}", run = "magick" },
	{ mime = "image/svg+xml", run = "svg" },
	{ mime = "image/*", run = "image" },
	# Video
	{ mime = "video/*", run = "video" },
	# Fallback
	{ name = "*", run = "file" },
]
preloaders = [
	# Image
	{ mime = "image/{avif,hei?,jxl}", run = "magick" },
	{ mime = "image/svg+xml", run = "svg" },
	{ mime = "image/*", run = "image" },
	# Video
	{ mime = "video/*", run = "video" },
	# PDF
	{ mime = "application/pdf", run = "pdf" },
	# Font
	{ mime = "font/*", run = "font" },
	{ mime = "application/ms-opentype", run = "font" },
]
previewers = [
	{ name = "*/", run = "folder" },
	# Code
	{ mime = "text/*", run = "code" },
	{ mime = "application/{mbox,javascript,wine-extension-ini}", run = "code" },
	# JSON
	{ mime = "application/{json,ndjson}", run = "json" },
	# Image
	{ mime = "image/{avif,hei?,jxl}", run = "magick" },
	{ mime = "image/svg+xml", run = "svg" },
	{ mime = "image/*", run = "image" },
	# Video
	{ mime = "video/*", run = "video" },
	# PDF
	{ mime = "application/pdf", run = "pdf" },
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", run = "archive" },
	{ mime = "application/{debian*-package,redhat-package-manager,rpm,android.package-archive}", run = "archive" },
	{ name = "*.{AppImage,appimage}", run = "archive" },
	# Virtual Disk / Disk Image
	{ mime = "application/{iso9660-image,qemu-disk,ms-wim,apple-diskimage}", run = "archive" },
	{ mime = "application/virtualbox-{vhd,vhdx}", run = "archive" },
	{ name = "*.{img,fat,ext,ext2,ext3,ext4,squashfs,ntfs,hfs,hfsx}", run = "archive" },
	# Font
	{ mime = "font/*", run = "font" },
	{ mime = "application/ms-opentype", run = "font" },
	# Empty file
	{ mime = "inode/empty", run = "empty" },
	# Fallback
	{ name = "*", run = "file" },
]

[input]
cursor_blink = false

# cd
cd_title  = "Change directory:"
cd_origin = "top-center"
cd_offset = [ 0, 2, 50, 3 ]

# create
create_title  = [ "Create:", "Create (dir):" ]
create_origin = "top-center"
create_offset = [ 0, 2, 50, 3 ]

# rename
rename_title  = "Rename:"
rename_origin = "hovered"
rename_offset = [ 0, 1, 50, 3 ]

# filter
filter_title  = "Filter:"
filter_origin = "top-center"
filter_offset = [ 0, 2, 50, 3 ]

# find
find_title  = [ "Find next:", "Find previous:" ]
find_origin = "top-center"
find_offset = [ 0, 2, 50, 3 ]

# search
search_title  = "Search via {n}:"
search_origin = "top-center"
search_offset = [ 0, 2, 50, 3 ]

# shell
shell_title  = [ "Shell:", "Shell (block):" ]
shell_origin = "top-center"
shell_offset = [ 0, 2, 50, 3 ]

[confirm]
# trash
trash_title 	= "Trash {n} selected file{s}?"
trash_origin	= "center"
trash_offset	= [ 0, 0, 70, 20 ]

# delete
delete_title 	= "Permanently delete {n} selected file{s}?"
delete_origin	= "center"
delete_offset	= [ 0, 0, 70, 20 ]

# overwrite
overwrite_title   = "Overwrite file?"
overwrite_content = "Will overwrite the following file:"
overwrite_origin  = "center"
overwrite_offset  = [ 0, 0, 50, 15 ]

# quit
quit_title   = "Quit?"
quit_content = "The following tasks are still running, are you sure you want to quit?"
quit_origin  = "center"
quit_offset  = [ 0, 0, 50, 15 ]

[pick]
open_title  = "Open with:"
open_origin = "hovered"
open_offset = [ 0, 1, 50, 7 ]

[which]
sort_by      	 = "none"
sort_sensitive = false
sort_reverse 	 = false
sort_translit  = false

