// Monitor configuration.
// Find the output name by running `niri msg outputs`.
// https://niri-wm.github.io/niri/Configuration:-Outputs

// MacBook 2011 built-in display
output "LVDS-1" {
    mode "1280x800@60.223"
    scale 1
    transform "normal"
    position x=0 y=0
}
