.DS_Store
git_mpluspcc/
zsh/.config/zsh/.zsh_history
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/lazy-lock.json
zsh/.config/zsh/.zcompdump
nvim/.config/nvim/plugins/tpm
tmux/.config/tmux/plugins
files/configs/nvim/lazy-lock.json
files/configs/nvim/lazyvim.json
output.txt
output.txt
